.dailyMixes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: 1fr;
}
