@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
    color-scheme: dark;
}
html {
    font-family: "CircularStd", system-ui, sans-serif;
    background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

#app {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
